# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


DESIGN_SPECIFICATION.md
DESIGN_DETAILS.md
PAGES_DOCUMENTATION.md
DESIGN_SPECIFICATION_CHARTS.md
DESIGN_SPECIFICATION_USERS.md
DESIGN_SPECIFICATION_AI.md
DESIGN_SPECIFICATION_CHAT.md

.env.*